/* svart footer */

.footer-container{
    position: relative;
    background-color:rgb(51, 49, 48);  
    color: white; 
    width: auto;
    height: 25rem;
}

h5{
    position: relative;
    left: 12%;
    top: 20%;
    font-size: 1.8vw;
}

.p-box-1{
    position: absolute;
    font-size: 1.8vw;
    left: 12%;
    top: 35%
}

.p-box-2{
  position: absolute;
  font-size: 1.8vw;
  left: 55%;
  top: 35%;
  text-align: end;
}
    
    






