/* Blå moln footer */

.container{
    text-align: center;
}

.img-moln{
    position: relative;
    top: 8rem;
    width: 100%;
}

h4{
    position: relative;
    left: 50%;
    bottom:4rem;
    font-size: 3vw;
    transform: translate(-50%, -50%);   
}

.p-3{
    position: relative;
    text-align: center;
    width: 70%;
    font-size: 1.5vw;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
}