.flex1{
position: relative;
}
.flex1-item1{
   width: 55%;
}

.flex1-h3{
    position: relative;
    font-size: 1.8vw;
    width: 60%;
    left: 15%;
    padding: 2%;     
}

.p-1{
    position: relative;
    font-size: 1.8vw;
    width: 60%;
    left: 15%; 
    padding: 2%; 
}

.flex-img{
    width: 55%;
    left: 30%;
}

.phone-1{
    position: absolute;
    width: 55%;
    left: 40%;
    bottom: 0%;
}

/* video */
video{
    width: 100%;
}