// header
.header-h1 {
    text-align: center;  
    font-size: 2.5vw;
    }
    
    .header-img{
    width: 100%;
    }
    
    .header{
    position: relative;
    right: 25%;
    bottom: 2rem;
    text-align: end;
    font-size: 1.8vw;
    }
    
    h2{
        bottom: 1rem;
        right: 5%;
        font-size: 4.5vw;
        padding-bottom: 1rem;
    }

    .header-p {
        padding-bottom: 2rem;
    }