/* secound side */
.box2 {
    position: relative; }
  
  .phone-2 {
    width: 55%; }
  
  .p-2 {
    position: absolute;
    width: 32%;
    left: 55%;
    bottom: 45%;
    text-align: end;
    font-size: 1.8vw; }
  
  .p-horizontal {
    position: relative;
    font-size: 1.8vw;
    width: 60%;
    left: 15%;
    bottom: 2rem; }